.row{
    text-align: center;
}
hr .glyphicon .glyphicon-wrench{
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }




@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

/*@media (max-width: 767px) {
  .visible-xs {
    display: none !important;
  }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.visible-xs {
   display: none ;!important;

}
.hidden-xs{
    display: none;!important;

}
*/